$font-family: 'ubnt', sans-serif

$font-weight: 100
$font-weight-bold: 600

$color-white: #FFFFFF
$color-black: #000000
$color-red: #FF0000
$color-green: #00FF00
$color-orange:  #FF7F00
$color-transparent: rgba(0, 0, 0, 0)
$color-ui-blue: #00A0DF

$color: $color-black
$background-color: #FAFAFA

$screen: "only screen" !default
$medium: "#{$screen} and (max-width: 1024px)" !default